---
layout: default
---

<div class="home">
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script>

    $(document).ready(function() {
      $('#example').DataTable( {
          "pagingType": "simple",
          "searching": true
      } );
    } );
  </script>

  <h2 class="page-heading">Posts</h2>
  <table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>date</th>
        </tr>
    </thead>
    <!--<tfoot>
        <tr>
            <th>Name</th>
            <th>Start date</th>
        </tr>
    </tfoot>-->
    <tbody>
      {% for post in site.posts %}
        <tr>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <td><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
          <td class="post-meta">{{ post.date | date: date_format }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!--{{ content }}-->

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/rss.xml" | relative_url }}">via RSS</a></p>-->

</div>
